# 영화 관객 예측
***

In [463]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [464]:
train = pd.read_csv("./data/movies_train.csv")
test = pd.read_csv('./data/movies_test.csv')
submission = pd.read_csv('./data/submission.csv')

In [465]:
train.head(3)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083

In [466]:
test.head(3)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor
0,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,3.005290e+05,2,304,3
1,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,3.427002e+05,4,275,3
2,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4.206611e+06,3,419,7

In [467]:
submission.head(3)

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0

#### 배급사 전처리

In [468]:
train['distributor'] = train.distributor.str.replace("(주)", '')
test['distributor'] = test.distributor.str.replace("(주)", '')

In [469]:
train['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in train.distributor]
test['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in test.distributor]

In [470]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x :
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    else :
        return x

In [471]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = test.distributor.apply(get_dis)

#### 장르별 영화 관객수 평균값으로 랭크 인코딩

In [509]:
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [472]:
train['genre_rank'] = train.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})
test['genre_rank'] = test.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})

#### 배급사별 영화 관객수 중위값 기준으로 배급사 랭크 인코딩

In [473]:
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')
tr_nm_rank

    distributor   num_rank
110  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
52       사람과사람들       42.0
97        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
113     전망좋은영화사  1214237.0
105   이십세기폭스코리아  1422844.0
56          쇼박스  2138560.0
84       영구아트무비  2541603.0
75    아이필름코퍼레이션  3117859.0

[147 rows x 2 columns]

In [474]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])]

In [475]:
tr_nm_rank

    distributor  num_rank
110  인피니티엔터테인먼트         1
15       고구마공작소         2
52       사람과사람들         3
97        위드시네마         4
19        나우콘텐츠         5
..          ...       ...
113     전망좋은영화사       143
105   이십세기폭스코리아       144
56          쇼박스       145
84       영구아트무비       146
75    아이필름코퍼레이션       147

[147 rows x 2 columns]

#### 최종 데이터 병합

In [476]:
train = pd.merge(train, tr_nm_rank, how = 'left')

In [477]:
test = pd.merge(test, tr_nm_rank, how = 'left')

In [478]:
test.fillna(0, inplace = True)

In [479]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from ngboost import NGBRegressor

#### 모델링 데이터 구성
- 타겟 값인 관객수를 로그변환
- 상영등급은 더미 변수
- 출연 배우 수는 로그변환

In [480]:
X = train[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]
y = np.log1p(train.box_off_num)

In [481]:
X = pd.get_dummies(columns = ['screening_rat'], data = X)

In [482]:
X['num_actor'] = np.log1p(X['num_actor'])

In [483]:
target = test[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]

In [484]:
target = pd.get_dummies(columns = ['screening_rat'], data = target)

In [485]:
target['num_actor'] = np.log1p(target['num_actor'])

#### 10Fold로 교차검증

In [486]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

### 5가지 모델 사용
#### 1) GradientBoostingRegressor

In [487]:
gbm = GradientBoostingRegressor(random_state = 42)

In [488]:
rmse_list = []
gb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    gbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in gbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in gbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    gb_pred += (sub_pred / 10)

In [489]:
np.mean(rmse_list)

1174378.9765191542

#### 2) NGBRegressor

In [490]:
ngb = NGBRegressor(random_state = 518)

In [491]:
rmse_list = []
ngb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    ngb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in ngb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in ngb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    ngb_pred += (sub_pred / 10)

[iter 0] loss=2.6200 val_loss=0.0000 scale=1.0000 norm=2.9523
[iter 100] loss=1.9566 val_loss=0.0000 scale=2.0000 norm=2.7106
[iter 200] loss=1.5812 val_loss=0.0000 scale=2.0000 norm=2.1869
[iter 300] loss=1.4423 val_loss=0.0000 scale=2.0000 norm=2.0889
[iter 400] loss=1.3728 val_loss=0.0000 scale=1.0000 norm=1.0177
[iter 0] loss=1.4099 val_loss=0.0000 scale=1.0000 norm=1.0773
[iter 100] loss=1.3247 val_loss=0.0000 scale=1.0000 norm=1.0080
[iter 200] loss=1.2840 val_loss=0.0000 scale=1.0000 norm=0.9853
[iter 300] loss=1.2439 val_loss=0.0000 scale=1.0000 norm=0.9645
[iter 400] loss=1.2100 val_loss=0.0000 scale=1.0000 norm=0.9482
[iter 0] loss=1.2095 val_loss=0.0000 scale=1.0000 norm=0.9543
[iter 100] loss=1.1556 val_loss=0.0000 scale=0.2500 norm=0.2289
[iter 200] loss=1.1468 val_loss=0.0000 scale=0.1250 norm=0.1137
[iter 300] loss=1.1425 val_loss=0.0000 scale=0.0625 norm=0.0567
[iter 400] loss=1.1406 val_loss=0.0000 scale=0.0010 norm=0.0009
[iter 0] loss=1.1722 val_loss=0.0000 scale=1.0000 norm=0.9271
[iter 100] loss=1.1458 val_loss=0.0000 scale=0.5000 norm=0.4543
[iter 200] loss=1.1261 val_loss=0.0000 scale=0.5000 norm=0.4486
[iter 300] loss=1.1061 val_loss=0.0000 scale=0.5000 norm=0.4425
[iter 400] loss=1.0826 val_loss=0.0000 scale=0.5000 norm=0.4362
[iter 0] loss=1.0954 val_loss=0.0000 scale=1.0000 norm=0.8916
[iter 100] loss=1.0479 val_loss=0.0000 scale=1.0000 norm=0.8602
[iter 200] loss=1.0241 val_loss=0.0000 scale=0.0039 norm=0.0033
[iter 300] loss=1.0241 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 400] loss=1.0241 val_loss=0.0000 scale=0.0005 norm=0.0004
[iter 0] loss=1.0366 val_loss=0.0000 scale=0.5000 norm=0.4323
[iter 100] loss=1.0084 val_loss=0.0000 scale=0.5000 norm=0.4224
[iter 200] loss=0.9889 val_loss=0.0000 scale=0.1250 norm=0.1043
[iter 300] loss=0.9793 val_loss=0.0000 scale=0.0625 norm=0.0518
[iter 400] loss=0.9767 val_loss=0.0000 scale=0.0312 norm=0.0259
[iter 0] loss=1.0106 val_loss=0.0000 scale=0.1250 norm=0.1062
[iter 100] loss=1.0092 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 200] loss=1.0092 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 300] loss=1.0092 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 400] loss=1.0092 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 0] loss=0.9847 val_loss=0.0000 scale=1.0000 norm=0.8368
[iter 100] loss=0.9502 val_loss=0.0000 scale=0.2500 norm=0.2033
[iter 200] loss=0.9324 val_loss=0.0000 scale=0.5000 norm=0.4015
[iter 300] loss=0.9071 val_loss=0.0000 scale=1.0000 norm=0.7929
[iter 400] loss=0.8888 val_loss=0.0000 scale=0.5000 norm=0.3935
[iter 0] loss=0.9498 val_loss=0.0000 scale=1.0000 norm=0.8383
[iter 100] loss=0.8911 val_loss=0.0000 scale=0.2500 norm=0.1971
[iter 200] loss=0.8785 val_loss=0.0000 scale=0.2500 norm=0.1954
[iter 300] loss=0.8697 val_loss=0.0000 scale=1.0000 norm=0.7770
[iter 400] loss=0.8693 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 0] loss=0.8726 val_loss=0.0000 scale=1.0000 norm=0.7779
[iter 100] loss=0.8481 val_loss=0.0000 scale=0.5000 norm=0.3830
[iter 200] loss=0.8329 val_loss=0.0000 scale=0.5000 norm=0.3802
[iter 300] loss=0.8199 val_loss=0.0000 scale=0.5000 norm=0.3773
[iter 400] loss=0.8069 val_loss=0.0000 scale=0.2500 norm=0.1872

In [492]:
np.mean(rmse_list)

1380253.1058252002

#### 3) LGBMRegressor

In [493]:
lgbm = LGBMRegressor(random_state = 518)

In [494]:
rmse_list = []
lgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    lgb_pred += (sub_pred / 10)

In [495]:
np.mean(rmse_list)

1213815.0440528719

#### 4) XGBRegressor

In [496]:
xgb = XGBRegressor(random_state = 518)

In [497]:
rmse_list = []
xgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    xgb_pred += (sub_pred / 10)

In [498]:
np.mean(rmse_list)

1437735.1546705803

#### 5) CatBoostRegressor

In [499]:
cat = CatBoostRegressor(random_state = 518, silent = True)

In [500]:
rmse_list = []
cat_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    cat.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in cat.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in cat.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    cat_pred += (sub_pred / 10)

In [501]:
np.mean(rmse_list)

1078083.3505434636

#### 6) RandomForestRegressor

In [502]:
rf = RandomForestRegressor(random_state = 518)

In [503]:
rmse_list = []
rf_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in rf.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in rf.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)

In [504]:
np.mean(rmse_list)

872738.262092494

***

#### 최종 예측 결과 블렌딩

In [505]:
submission['box_off_num'] = (xgb_pred + cat_pred + lgb_pred + rf_pred + gb_pred + ngb_pred) / 6

In [506]:
submission.sort_values(by = 'box_off_num')

            title   box_off_num
130  댄서김의 은밀한 교수법  1.210384e+01
39        REC 알이씨  1.474226e+01
139        화려한 외출  1.992019e+01
173           옹녀뎐  2.078792e+01
65        엄마는 창녀다  2.689142e+01
..            ...           ...
135           용의자  4.214530e+06
229           베테랑  4.396478e+06
142          박수건달  5.273073e+06
179    군도: 민란의 시대  6.442402e+06
178            명량  6.948190e+06

[243 rows x 2 columns]

In [507]:
# submission.to_csv("0520.csv", index = False)